
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<h4>Usluge </h4>


<p>
    - dodati aktivnu uslugu na nacin da moramo proslijediti
    1 - korisnika  <br />
    2 - paket koji zelimo aktivirati <br />
    3 - zahtjevId <br />
    4 - datum instalacije <br />
    5 - datum aktivacije    <br />
    7 - status usluge dropdown <br />
    <br />

</p>